#gallery {
    width: 80%;
    font-size: 0;
}
.figure {
    width: 33%;
}
h2 {
    font-size: 2em;
}
p, figcaption {
    font-size: 1em;
} 
@media (max-width: 480px) {
    #gallery {
        width: 100%;
    }
    .figure {
        display: block;
        width: 100%;
    }

}
@media (max-width: 768px) {
    .figure {
        display: block;
    }
}
@media (max-width: 992px) {
    .figure {
        width: 40%;
    }
}