body {
    font-family: 'Roboto', serif;
    margin: 0;
    background: rgba(226, 226, 226, 1);
    background: -moz-linear-gradient(45deg, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 40%, rgba(209, 209, 209, 1) 77%, rgba(254, 254, 254, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(226, 226, 226, 1)), color-stop(40%, rgba(219, 219, 219, 1)), color-stop(77%, rgba(209, 209, 209, 1)), color-stop(100%, rgba(254, 254, 254, 1)));
    background: -webkit-linear-gradient(45deg, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 40%, rgba(209, 209, 209, 1) 77%, rgba(254, 254, 254, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 40%, rgba(209, 209, 209, 1) 77%, rgba(254, 254, 254, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 40%, rgba(209, 209, 209, 1) 77%, rgba(254, 254, 254, 1) 100%);
    background: linear-gradient(45deg, rgba(226, 226, 226, 1) 0%, rgba(219, 219, 219, 1) 40%, rgba(209, 209, 209, 1) 77%, rgba(254, 254, 254, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1);
}

#about > a, #portfolio a {
    color: #556b2f !important;
}

#about > h2,
#portfolio > h2 {
    text-align: center;
    color: rgb(85, 107, 47) !important;
}

#about > img {
    max-height: 250px;
}

header {

    background: forestgreen url(../img/header.jpg) no-repeat fixed;
    background-size: cover;
    background-position: center;
    height: 70vh;
}

#bob {
    color: white;
    position: absolute;
    margin: 20vh auto 0;
    right: 10px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.nav-scrolled {
    background-color: #556b2f;
}

.nav-scrolled a:hover {
    color: aliceblue;
}

.main-container {
    background-color: #fff;
}

section {
    background-color: white
}

#skills {
    padding-top: 30px;
    padding-bottom: 22px;
}

.olive-bg {
    background-color: rgb(85, 107, 47);
    color: #fff;
    text-align: center;

}

.olive-bg-top {
    background-color: rgb(85, 107, 47);
    -webkit-clip-path: polygon(65% 32%, 86% 11%, 100% 18%, 100% 100%, 0 100%, 0 23%, 35% 7%);
    clip-path: polygon(65% 32%, 86% 11%, 100% 18%, 100% 100%, 0 100%, 0 23%, 35% 7%);
    height: 50px;
}

.olive-bg-bottom {
    background-color: rgb(85, 107, 47);
    -webkit-clip-path: polygon(100% 0, 99% 90%, 61% 67%, 39% 87%, 13% 74%, 1% 92%, 0 0);
    clip-path: polygon(100% 0, 99% 90%, 61% 67%, 39% 87%, 13% 74%, 1% 92%, 0 0);
    height: 50px;
}

.fa-wifi {
    transform: rotate(225deg);
}


.port-image {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

}

.p-image1 {
    background-image: url(../img/288.png);
}

.p-image2 {
    background-image: url(../img/huf.png);
}

.p-image3 {
    background-image: url(../img/wsj19.png);
}

.p-image4 {
    background-image: url(../img/ehuf.png);
}

.p-image5 {
    background-image: url(../img/szmaragdowa.png)
}

.p-image6 {
    background-image: url(../img/bootstrap-cw.png)
}

.port-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    color: white;
    opacity: 0;
    transition: 1s;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow: hidden;

}

.port-mask a {
    color: white;
    transition: 1s;

}

.port-mask:hover a {
    color: olivedrab;
}

.port-mask:hover {
    opacity: 1
}
#druh {
    padding-top: 10px;
    padding-bottom: 10px;
}
#druh > a {
    color: #fff;
}
#simple-title {
    min-height: 60px;
    line-height: 60px;
    padding-top: 10px;
}

footer {
    background-color: #202020;
    color: white;
    min-height: 60px;
    line-height: 60px;
}

footer > div {
    background-color: #202020;
}

footer a {
    color: #fff;
    transition: 0.7s;
}

footer a:hover {
    color: rgba(255, 255, 255, 0.3)
}

footer i {
    margin-top: 14px;
    margin-right: 10px;
}

/*Wersja przed bootstrapem */

/*header {
    background-color: forestgreen;
    box-shadow: 0 5px 5px rgba(169, 169, 169, 0.6);
    padding: 10px;
    height: 10vh;
    max-height: 150px;
    width: 100%
    z-index: 100;
}
header h1 {
    color: #fff;
    font-family: 'Gaegu', cursive;
    margin-bottom: 0;
}
section {
    margin: 0 auto;
    width: 1000px;
    background-color: #fff;
    padding: 5px;
    min-height: 80vh;
}
h2 {
    color: orange;
    font-family: 'Gaegu', cursive;
    margin-bottom: 0;
}
a {color: forestgreen;
transition: color 1s ease-in;
text-decoration: none;}
a:hover {
    color: olivedrab;
}
.floatleft {
    float: left;
    margin-right: 8px;
}
footer {
    text-align: right;
    background-color: rgba(11, 11, 11, 0.94);
    color: #fff;
    height: 10vh;
    padding: 10px;
} */
