body {
    font-family: 'Roboto', serif;
    margin: 0;
    background: rgba(226,226,226,1);
background: -moz-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 40%, rgba(209,209,209,1) 77%, rgba(254,254,254,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(40%, rgba(219,219,219,1)), color-stop(77%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
background: -webkit-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 40%, rgba(209,209,209,1) 77%, rgba(254,254,254,1) 100%);
background: -o-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 40%, rgba(209,209,209,1) 77%, rgba(254,254,254,1) 100%);
background: -ms-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 40%, rgba(209,209,209,1) 77%, rgba(254,254,254,1) 100%);
background: linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 40%, rgba(209,209,209,1) 77%, rgba(254,254,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );
}
header {

    background: forestgreen url(../img/header.jpg) no-repeat fixed;
    background-size: cover;
    height: 70vh;
    }
   
#bob {
    color: white;
    position: absolute;
    margin: 20vh auto 0;
    right: 10px;
}
.nav-scrolled {
    background-color: rgba(85, 107, 47, 0.95);
}
.nav-scrolled a:hover {
    color: aliceblue;
}
section {
    background-color: white
}
.port-image {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
   
}
.p-image1 {
    background-image: url(../img/288.png);
}
.p-image2 {
    background-image: url(../img/huf.png);
}
.p-image3 {
    background-image: url(../img/wsj19.png);
}
.port-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    color: white;
    opacity: 0;
    transition: 1s;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
        
}
.port-mask a {
    color: white;
    transition: 1s;
     
}
.port-mask a:hover {
    color: olivedrab;
}
.port-mask:hover {
    opacity: 1
}
footer {
    background-color: rgba(0, 0, 0, 0.86);
    color: white;
    line-height: 50px;
}
/*header {
    background-color: forestgreen;
    box-shadow: 0 5px 5px rgba(169, 169, 169, 0.6);
    padding: 10px;
    height: 10vh;
    max-height: 150px;
    width: 100%
    z-index: 100;
}
header h1 {
    color: #fff;
    font-family: 'Gaegu', cursive;
    margin-bottom: 0;
}
section {
    margin: 0 auto;
    width: 1000px;
    background-color: #fff;
    padding: 5px;
    min-height: 80vh;
}
h2 {
    color: orange;
    font-family: 'Gaegu', cursive;
    margin-bottom: 0;
}
a {color: forestgreen;
transition: color 1s ease-in;
text-decoration: none;}
a:hover {
    color: olivedrab;
}
.floatleft {
    float: left;
    margin-right: 8px;
}
footer {
    text-align: right;
    background-color: rgba(11, 11, 11, 0.94);
    color: #fff;
    height: 10vh;
    padding: 10px;
} */

