body {
    margin: 0;
    height: 100vh;
}
#przycisk {
    border: 0;
    background-color: aqua;
    width: 100px;
    height: 50px;
}
#lista-linkow {
    width: 300px;
    position: absolute;
    top: 50px;
    left: 0px;
    left: -300px;
    transition: 2s;
}
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-item {
    height: 30px;
    background-color: burlywood;
    border-bottom:  1px solid black;
    text-align: center;
}
.ptlo {
    position: absolute;
    top: 360px;
}
/*#paragraf1, #paragraf2 */
p {
    background-color: white;
    transition: 1s;
}