body {
    background-color: #171515;
    color: rgba(255, 255, 255, 0.76);
}
a, a:visited {
    color: rgba(124, 252, 0, 0.74);
    transition: 1s;
}
a:hover {
    color: lightgreen
}
h1, i {
    text-align: center;
    font-size: 3em;
}
