body {
    padding: 10px;
    margin-bottom: 10px;
}
.square0 {
    height: 150px;
    width: 150px;
    background-color: aquamarine;
    transition: 3s;
    margin-bottom: 10px;
}
.square1:hover {
    width: 300px;
    background-color: bisque
}
.square2:hover{
    height: 300px;
    background-color: burlywood
}
.square3:hover{
    height: 300px;
    width: 300px;
    background-color: chartreuse
}
